body {
  background-color: rgb(61, 59, 59);
  color: rgb(191, 183, 183);

}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  color:  rgb(228, 228, 228);
}

.link-container {
  display: flex;
  justify-content: space-between;
}


.link-container a {
  text-decoration: none;
  color: rgb(191, 183, 183);
  margin-right: 35px;
  font-size: 20px;
  
}

.link-container li {
  list-style: none;
}

.log-in {
  background-color: transparent;
  color:  rgb(228, 228, 228);
  height: 30px;
  width: 60px;
  border: 1px solid rgb(228, 228, 228);
  padding: auto;
  margin-right: 6px;
}


.free-trial {
  background-color: rgb(228, 228, 228);
  height: 30px;
  width: 140px;
  border: 1px solid transparent;
  padding: auto;
}

.main {
 display: flex;
 flex-direction: row;
 
}

.main-text h1 {
  padding: 0 100px;
  color:  rgb(228, 228, 228);
  max-width: 500px;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-text p {
  padding: 0 100px;
  max-width: 400px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-text button {
  background-color: rgb(228, 228, 228);
  margin: 0 100px;
  height: 30px;
  width: 200px;
  border: 1px solid transparent;
  padding: auto;
  font-weight: bold;
}

.main-img {
  margin-top: 50px;
  width: 550px;
  height: 500px;
}